{% extends 'index.html' %}
{%  block  'body' %}
<center><br><br>
    <h4 text-align="center" style="color:orange" >The Student registration system provides an automated process, allowing students and parents to complete the formalities digitally.
        Likewise, the admin staff doesn't need to rely on traditional methods like using a spreadsheet to record data. The Academic Student Course Registration System is a webbased
        application designed to streamline the process of course registration for students in an academic institution. It serves as a centralized platform where students can
        view available courses, select their preferred courses, and register for the upcoming semester. The system aims to simplify course enrolment, prevent scheduling conflicts,
        and ensure that students have access to the courses they need to progress in their academic journey.</h4><br><br>

<h2>This Project contains 3 Roles<br>
Admin<br>
Student<br>
Faculty<br></h2>
</center>
{%  endblock %}
